/.vs
/YTMusic-api/bin
/YTMusic-api/obj
/YTMusicApi.Orchestrator/bin
/YTMusicApi.Orchestrator/obj
/YTMusicApi.Model/obj
/YTMusicApi.Mode;/obj
/YTMusicApi.Model/bin
/YTMusicApi.Data/obj
/YTMusicApi.Data/bin
YTMusic-api/appsettings.Development.json
/YTMusicApi.Platform/obj
/YTMusicApi.Platform/bin
/YTMusic-api/.vs
/bin
/obj
/YTMusicApi.Data/YTMusicApi.Data/obj
docker-compose.dcproj
docker-compose.override.yml
launchSettings.json
docker-compose.yml
